style
* {
  box-sizing: border-box;
}
/*img{
    float:left;
}*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: rgb(243, 193, 99);
  padding: 20px;
  
  

}

aPad{
  padding:5px;
}

 .one
 {
   text-align:left;
 }

 alignA {
    float : right;
    font-size: 20px;
  
 }




/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color:#D4FF33;
  padding: 10px;
}
/*2nd article*/
article1 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color:#D4FF33;  
    padding: 10px;
}

/*3nd article*/
article2 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #D4FF33;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
/* img {
    
    float:left;
} */

a{
    text-align:left;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  a{
      color:white;
  }

  
}
